body{
    text-align: center;
    background-color: rgba(248, 182, 234, 0.688);
}

h1{
    color: rgba(196, 0, 155, 0.688);
}

h2{
    color: rgba(60, 1, 48, 0.688);
}

table{
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    background-color: rgba(196, 6, 155, 0.688);
    border-collapse: collapse;
    height: 450px;
}

td{
    width: 150px;
    height: 150px;
    border: 5px solid rgba(60, 1, 48, 0.688);
    padding: 0px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    color: rgba(60, 1, 48, 0.688);
}


